*{
    box-sizing: border-box;
}

:root{
    --nav-color: white;
    --nav-color-black: black;
}

html, body, #root, #siteContainer{
    height: 100%;
    width: 100%;
    /* background-color: var(--main-background-color); */
}

html, body{
    margin: 0;
}


/* Nav bar */

#navContainer{
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    color: var(--nav-color);
    /* z-index: 10; */
}

/* nav a{
    text-decoration: none;
    color: var(--nav-color);
} */

.navWhite{
    text-decoration: none;
    color: var(--nav-color);
}

.navBlack{
    text-decoration: none;
    color: var(--nav-color-black);
}

#navHeader{
    font-size: 30px;
}

.navTabs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 30%;
    font-size: 30px;
}




/* Home */

#homeContainer{
    /* background: url('./images/background/funkoBg.png') no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; */
}

#homeBackground{
    background: url('./images/background/funkoBg.png') no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#homeMessageContainer{
    text-align: center;
    padding-top: 5vh;
    color: white;
    font-size: 30px;
    z-index: 10;
}

.homeShopLink{
    background-color: white;
    color: black;
    padding: 20px;
    text-decoration: none;
}

/* Error */

#errorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}