*{
    box-sizing: border-box;
}

:root{
    --font: 'Montserrat', sans-serif;
    --navColor: white;
    --navColorBlack: black;
    --navUnderlineColor: rgba(19, 19, 19, 0.1);
    --bgColor: rgb(214, 214, 214);
    --addCartColor: rgb(240, 178, 128);
    --cartLinkColor: rgb(190, 184, 184);
    --shopBgColor: rgb(240, 238, 238);
}

html, body, #root, #siteContainer{
    height: 100%;
    width: 100%;
    /* background-color: var(--main-background-color); */
    font-family: var(--font);
    
}

html, body{
    margin: 0;
}


/* Nav bar */

#navContainer{
    border-bottom: 2px solid var( --navUnderlineColor);
    margin: 0 5%;
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    color: var(--navColor);
    /* z-index: 10; */
}

.navWhite{
    text-decoration: none;
    color: var(--navColor);
    /* maybe add text shadow */
}

.navBlack{
    text-decoration: none;
    color: var(--navColorBlack);
    
}

#navHeader{
    font-size: 40px;
    font-weight: 700;
}

.navTabs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 30%;
    font-size: 30px;
}

#navCartContainer{
    display: flex;
    align-items: center;
}

#navCartIcon{
    font-size: 35px;
}




/* Home */

#homeContainer{
    /* background: url('./images/background/funkoBg.png') no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; */
}

#homeBackground{
    background: url('./images/background/funkoBg.png') no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#homeMessageContainer{
    text-align: center;
    padding-top: 2vh;
    color: white;
    font-size: 30px;
    z-index: 10;
}

#homeMessageContainer h1{
    margin-bottom: 0px;
}

#homeMessageContainer h3{
    margin-block-start: 0.5em;
}

.homeShopLink{
    background-color: white;
    color: black;
    padding: 20px;
    text-decoration: none;
}

/* Shop */

#shopContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 2% 5% 0% 12%;    
}

#shopContainer a{
    flex-basis: 33.3333%;
    text-decoration: none;
    color: black;
}
.productCardContainer{
    border-bottom: 1px solid var(--navUnderlineColor);
}

.productCardImage img{
    width: 450px;
    height: 325px;
    margin-bottom: 5px;
}

.productCardName{
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 25px;
}

.productCardPrice{
    margin-bottom: 25px;
}

/* Product Page */ 

/* #productPageContainer{
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    margin: 7% 15%;
} */
#productPageContainer{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--shopBgColor);
}

.productPageImage{
    height: 50%;
}

.productPageDetails{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.productPageCardName{
    font-weight: 700;
    font-size: 100px;
    margin-bottom: 30px;
}

.productPageCardPrice{
    font-size: 50px;
    margin-bottom: 30px;
}

.btnAddCart{
    width: 80%;
    font-size: 25px;
    padding: 10px 0;
    margin-bottom: 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--addCartColor);
}

.cartLink{
    text-decoration: none;
    width: 80%;
    font-size: 25px;
    padding: 10px 0;
    border: none;
    text-align: center;
    color: var(--navColorBlack);
    border-radius: 5px;
    background-color: var(--cartLinkColor);
}

/* Error */

#errorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}